<footer
  class="global-footer"
>
<div class="max-w-(--w) mx-auto px-8">
  <div class="hwp-global-footer__copyright hwp-py-12 md:hwp-py-0">
    Copyright © 2026 The President and Fellows of Harvard College
  </div>
  <div class="hwp-global-footer__menu hwp-flex hwp-flex-col md:hwp-flex-row md:hwp-gap-x-32 xl:hwp-ml-auto">
    <a href="https://accessibility.harvard.edu/" class="hwp-py-12 underline">Accessibility</a>
    <a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy" class="hwp-py-12 underline">Digital Accessibility</a>
    <a href="https://www.harvard.edu/copyright-issue/" class="hwp-py-12 underline">Report Copyright Infringement</a>
    <a href="https://hwp.harvard.edu/harvardsites-platform-information-gathering-statement" class="hwp-py-12 underline">Info Practices</a>
  </div>
</div>
</footer>
