{{ define "main" }}
  {{ .Content }}
  <hr>
  <h2>Recent Seminars</h2>
  {{ range first 3 (where site.RegularPages "Section" "seminar") }}
    <h3 class="mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ partial "date-people.html" . }}
    <div class="not-prose">{{ .Summary }}</div>
    <p class="mt-1.5"><a class="link block" href="{{ .Permalink }}">Read more →</a></p>
  {{ end }}
  <hr>
  <h2>Recent Posts</h2>
  {{ range first 5 (where site.RegularPages "Section" "blog") }}
    <h3 class="mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ partial "date-people.html" . }}
    <div class="not-prose">{{ .Summary }}</div>
    <p class="mt-1.5"><a class="link block" href="{{ .Permalink }}">Read more →</a></p>
  {{ end }}
{{ end }}
